[submodule "lib/TTGO-T-Display"]
	path = lib/TTGO-T-Display
	url = https://github.com/Xinyuan-LilyGO/TTGO-T-Display
[submodule "lib/OneWire"]
	path = lib/OneWire
	url = https://github.com/PaulStoffregen/OneWire
[submodule "lib/Arduino-Temperature-Control-Library"]
	path = lib/Arduino-Temperature-Control-Library
	url = https://github.com/milesburton/Arduino-Temperature-Control-Library
[submodule "lib/SHT3x"]
	path = lib/SHT3x
	url = https://github.com/Risele/SHT3x
[submodule "lib/Adafruit_Sensor"]
	path = lib/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor
[submodule "lib/DHT-sensor-library"]
	path = lib/DHT-sensor-library
	url = https://github.com/adafruit/DHT-sensor-library
